[run]
source = .
branch = True

omit =
    # Django omits
    env/*
    *migrations*
    */settings*
    */tests*.py
   # */urls.py,
    */wsgi.py,
    manage.py,
    htmlcov/*

plugins =
    django_coverage_plugin

[report]
show_missing = true
fail_under = 100
skip_covered = True

# https://adamj.eu/tech/2019/04/30/getting-a-django-application-to-100-percent-coverage/