<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title> Gymkhana Robots Configuration Management </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Dheerendra Rathor" />
  <meta name="description" content="A highly secure election portal. Keep it simple" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/root.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
  {% block cssLinks %}
  {% endblock %}
</head>

<body>

  <!-- Fixed navbar -->
  <nav>
    <h1>
      <a> Gymkhana SEO Management </a>
    </h1>
  </nav>

  {% block featurette %}
  {% endblock %}

  <div class="container">

    {% if messages %}
    <ul class="messages" style="list-style-type: none; padding-left: 0;">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    <div class="container">
      {% include 'footer.html' %}
    </div>
    {% endblock footer %}
  </div>

  {% block jsLinks %}
  {% endblock %}
</body>

</html>